<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/), Data Scientist @ Mail.Ru Group <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [6]:
data['native-country'].value_counts(normalize =True)

United-States                 0.895857
Mexico                        0.019748
?                             0.017905
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
Greece                        0.000891
France                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Trinadad&Tobago               0.000584
Cambodia                      0.000584
Thailand                      0.000553
Laos                          0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Hungary                       0.000399
Honduras                      0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: native-country, dtype: float64

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [25]:
data[data['salary'] == '>50K']['age'].describe()
data[data['salary'] == '<=50K']['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [27]:
data[data['salary'] == '>50K']['education']

7             HS-grad
8             Masters
9           Bachelors
10       Some-college
11          Bachelors
14          Assoc-voc
19            Masters
20          Doctorate
25          Bachelors
27       Some-college
38       Some-college
45          Bachelors
52        Prof-school
53          Bachelors
55       Some-college
63          Doctorate
67            HS-grad
68       Some-college
72          Bachelors
84            HS-grad
86            HS-grad
89          Doctorate
94          Bachelors
96          Doctorate
97       Some-college
100           Masters
101         Bachelors
105           HS-grad
111       Prof-school
112           HS-grad
             ...
32436     Prof-school
32438         Masters
32440    Some-college
32441    Some-college
32449         Masters
32453    Some-college
32455       Bachelors
32457         Masters
32458       Bachelors
32462         HS-grad
32464       Bachelors
32466     Prof-school
32474      Assoc-acdm
32480         Masters
32504         Masters
32506       Assoc-voc
32510         HS-grad
32513         Masters
32518         HS-grad
32519    Some-college
32530       Bachelors
32532       Doctorate
32533       Bachelors
32536       Bachelors
32538       Bachelors
32539       Doctorate
32545      Assoc-acdm
32554         Masters
32557         HS-grad
32560         HS-grad
Name: education, Length: 7841, dtype: object

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [30]:
data.groupby(['race', 'sex'])['age'].describe(percentiles=[])

                             count       mean        std   min   50%   max
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  36.0  80.0
                   Male      192.0  37.208333  12.049563  17.0  35.0  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  33.0  75.0
                   Male      693.0  39.073593  12.883944  18.0  37.0  90.0
Black              Female   1555.0  37.854019  12.637197  17.0  37.0  90.0
                   Male     1569.0  37.682600  12.882612  17.0  36.0  90.0
Other              Female    109.0  31.678899  11.631599  17.0  29.0  74.0
                   Male      162.0  34.654321  11.355531  17.0  32.0  77.0
White              Female   8642.0  36.811618  14.329093  17.0  35.0  90.0
                   Male    19174.0  39.652498  13.436029  17.0  38.0  90.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [50]:
#a = data['marital-status'].str[:7]
#data['new_marital'] = np.where(a == 'Married', 'Married', 'Bachelor')
pd.crosstab(data['salary'] == '>50K', data['new_marital'])

new_marital  Bachelor  Married
salary
False           16039     8681
True             1105     6736

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [58]:
data.groupby('hours-per-week', as_index=False).max()

,hours-per-week,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,salary,new_marital
0,1,81,State-gov,363134,Some-college,16,Widowed,Prof-specialty,Wife,White,Male,1848,1944,Vietnam,>50K,Married
1,2,87,Self-emp-not-inc,584259,Some-college,15,Widowed,Sales,Wife,White,Male,18481,1816,United-States,>50K,Married
2,3,85,Self-emp-not-inc,523067,Some-college,16,Widowed,Tech-support,Wife,White,Male,34095,1668,United-States,>50K,Married
3,4,90,State-gov,476573,Some-college,14,Widowed,Sales,Wife,White,Male,20051,1648,United-States,>50K,Married
4,5,82,State-gov,438696,Some-college,16,Widowed,Transport-moving,Wife,White,Male,20051,2206,Vietnam,>50K,Married
5,6,79,State-gov,406603,Some-college,16,Widowed,Transport-moving,Wife,White,Male,9386,2415,United-States,>50K,Married
6,7,79,Self-emp-not-inc,370881,Some-college,16,Widowed,Tech-support,Wife,White,Male,6514,0,United-States,>50K,Married
7,8,83,State-gov,1366120,Some-college,16,Widowed,Tech-support,Wife,White,Male,15831,2246,United-States,>50K,Married
8,9,74,State-gov,419394,Some-college,15,Widowed,Tech-support,Unmarried,White,Male,0,1719,United-States,>50K,Married
9,10,90,Without-pay,529223,Some-college,16,Widowed,Transport-moving,Wife,White,Male,34095,2258,Vietnam,>50K,Married
10,11,73,State-gov,229431,Some-college,14,Widowed,Transport-moving,Own-child,White,Male,3818,0,United-States,<=50K,Married
11,12,90,Without-pay,556688,Some-college,16,Widowed,Transport-moving,Wife,White,Male,9386,2415,United-States,>50K,Married
12,13,84,State-gov,577521,Some-college,15,Widowed,Tech-support,Wife,White,Male,4386,0,United-States,>50K,Married
13,14,84,State-gov,431745,Some-college,14,Widowed,Tech-support,Wife,White,Male,3818,0,United-States,>50K,Married
14,15,90,State-gov,745817,Some-college,16,Widowed,Transport-moving,Wife,White,Male,15024,2489,United-States,>50K,Married
15,16,84,Without-pay,477697,Some-college,15,Widowed,Transport-moving,Wife,White,Male,25124,1721,United-States,>50K,Married
16,17,76,State-gov,634226,Some-college,14,Widowed,Transport-moving,Wife,White,Male,0,0,United-States,>50K,Married
17,18,82,Self-emp-not-inc,504725,Some-college,16,Widowed,Transport-moving,Wife,White,Male,15024,4356,United-States,>50K,Married
18,19,63,State-gov,426017,Some-college,14,Widowed,Sales,Wife,White,Male,0,1504,United-States,<=50K,Married
19,20,90,Without-pay,806316,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,3683,Yugoslavia,>50K,Married
20,21,65,State-gov,482082,Some-college,13,Widowed,Sales,Wife,White,Male,7298,0,United-States,>50K,Married
21,22,73,State-gov,385901,Some-college,14,Widowed,Transport-moving,Wife,White,Male,4650,1602,United-States,>50K,Married
22,23,77,Self-emp-not-inc,414721,Some-college,16,Widowed,Tech-support,Wife,White,Male,0,1602,United-States,<=50K,Married
23,24,90,State-gov,680390,Some-college,16,Widowed,Transport-moving,Wife,White,Male,41310,2205,Vietnam,>50K,Married
24,25,90,Without-pay,1484705,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2754,United-States,>50K,Married
25,26,81,Self-emp-inc,548361,Some-college,13,Widowed,Tech-support,Wife,White,Male,5556,2377,United-States,>50K,Married
26,27,65,State-gov,348854,Some-college,14,Widowed,Sales,Wife,White,Male,3908,0,United-States,>50K,Married
27,28,81,State-gov,574271,Some-college,16,Widowed,Transport-moving,Wife,White,Male,15024,2246,United-States,>50K,Married
28,29,55,Private,396538,Some-college,15,Separated,Prof-specialty,Unmarried,White,Male,0,0,United-States,>50K,Married
29,30,90,Without-pay,1085515,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2415,Vietnam,>50K,Married
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,65,73,Without-pay,482927,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2415,Yugoslavia,>50K,Married
65,66,84,Self-emp-not-inc,306440,Some-college,15,Widowed,Sales,Unmarried,White,Male,7688,0,Yugoslavia,>50K,Married
66,67,56,Self-emp-not-inc,206947,Prof-school,15,Widowed,Prof-specialty,Not-in-family,White,Male,7688,2415,United-States,>50K,Married
67,68,63,Self-emp-inc,288992,Some-college,14,Widowed,Transport-moving,Unmarried,White,Male,14344,1887,United-States,>50K,Married
68,70,75,State-gov,755858,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2472,United-States,>50K,Married
69,72,90,State-gov,604506,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2444,United-States,>50K,Married
70,73,55,Private,206322,HS-grad,13,Married-civ-spouse,Transport-moving,Unmarried,White,Male,0,0,United-States,>50K,Married
71,74,72,Self-emp-not-inc,139889,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,United-States,<=50K,Married
72,75,73,State-gov,436361,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2392,United-States,>50K,Married
73,76,45,Private,190482,Masters,14,Married-civ-spouse,Transport-moving,Not-in-family,White,Male,0,2824,United-States,>50K,Married
74,77,45,State-gov,405644,Doctorate,16,Never-married,Sales,Unmarried,White,Male,3137,0,Vietnam,<=50K,Married
75,78,57,Self-emp-not-inc,509866,Some-college,12,Never-married,Transport-moving,Not-in-family,White,Male,0,0,United-States,>50K,Married
76,80,70,State-gov,668319,Some-college,16,Widowed,Transport-moving,Wife,White,Male,99999,2415,United-States,>50K,Married
77,81,55,Self-emp-inc,258735,HS-grad,9,Separated,Protective-serv,Unmarried,White,Male,0,0,United-States,<=50K,Bachelor
78,82,61,Private,28291,HS-grad,9,Divorced,Farming-fishing,Not-in-family,White,Female,0,0,United-States,<=50K,Bachelor
79,84,62,State-gov,392668,Some-college,16,Never-married,Transport-moving,Unmarried,White,Male,15024,2258,United-States,>50K,Married
80,85,59,Self-emp-not-inc,323155,Prof-school,15,Never-married,Transport-moving,Own-child,White,Male,0,0,United-States,>50K,Married
81,86,47,Self-emp-not-inc,154641,Some-college,10,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,United-States,<=50K,Married
82,87,33,Private,86492,HS-grad,9,Never-married,Transport-moving,Not-in-family,White,Male,0,0,United-States,<=50K,Bachelor
83,88,44,Self-emp-not-inc,315406,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,United-States,<=50K,Married
84,89,48,Private,288154,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,United-States,>50K,Married
85,90,68,State-gov,459007,Some-college,16,Separated,Transport-moving,Wife,White,Male,6849,2559,United-States,>50K,Married
86,91,62,Self-emp-not-inc,230168,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,United-States,<=50K,Married
87,92,36,Self-emp-not-inc,48093,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,United-States,<=50K,Married
88,94,33,Self-emp-not-inc,281030,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,United-States,<=50K,Married
89,95,52,Self-emp-not-inc,169759,Some-college,10,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,United-States,>50K,Married
90,96,46,Self-emp-not-inc,458549,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,7688,0,United-States,>50K,Married
91,97,31,Private,183639,HS-grad,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,United-States,>50K,Married
92,98,63,Self-emp-not-inc,304602,Some-college,14,Never-married,Sales,Own-child,White,Male,2407,1977,United-States,>50K,Married
93,99,90,State-gov,511289,Some-college,16,Widowed,Transport-moving,Wife,White,Male,15024,2415,United-States,>50K,Married

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [73]:
data.groupby(['salary', 'native-country'])['hours-per-week'].agg(np.mean)
#data.groupby(['race', 'sex'])['age'].describe(percentiles=[])

salary  native-country
<=50K   ?                             40.164760
        Cambodia                      41.416667
        Canada                        37.914634
        China                         37.381818
        Columbia                      38.684211
        Cuba                          37.985714
        Dominican-Republic            42.338235
        Ecuador                       38.041667
        El-Salvador                   36.030928
        England                       40.483333
        France                        41.058824
        Germany                       39.139785
        Greece                        41.809524
        Guatemala                     39.360656
        Haiti                         36.325000
        Holand-Netherlands            40.000000
        Honduras                      34.333333
        Hong                          39.142857
        Hungary                       31.300000
        India                         38.233333
        Iran                          41.440000
        Ireland                       40.947368
        Italy                         39.625000
        Jamaica                       38.239437
        Japan                         41.000000
        Laos                          40.375000
        Mexico                        40.003279
        Nicaragua                     36.093750
        Outlying-US(Guam-USVI-etc)    41.857143
        Peru                          35.068966
                                        ...
>50K    France                        50.750000
        Germany                       44.977273
        Greece                        50.625000
        Guatemala                     36.666667
        Haiti                         42.750000
        Honduras                      60.000000
        Hong                          45.000000
        Hungary                       50.000000
        India                         46.475000
        Iran                          47.500000
        Ireland                       48.000000
        Italy                         45.400000
        Jamaica                       41.100000
        Japan                         47.958333
        Laos                          40.000000
        Mexico                        46.575758
        Nicaragua                     37.500000
        Peru                          40.000000
        Philippines                   43.032787
        Poland                        39.000000
        Portugal                      41.500000
        Puerto-Rico                   39.416667
        Scotland                      46.666667
        South                         51.437500
        Taiwan                        46.800000
        Thailand                      58.333333
        Trinadad&Tobago               40.000000
        United-States                 45.505369
        Vietnam                       39.200000
        Yugoslavia                    49.500000
Name: hours-per-week, Length: 82, dtype: float64